/*Global Styles*/
*,
*::before, 
*::after{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}
/*
*{
  border: 1px solid red;
}*/


html, body{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    letter-spacing: 1.5px;

}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

h1{
  letter-spacing: 7px;
  line-height: 50px;
  padding-bottom: 30px;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  /*Text*/

  .light-font{
    color: #A3A7CE;
  }

/*Navigation*/

.navbar{
  bottom: 16px;
  position: relative;
}

nav {
    height: 7vh;
    background: transparent;
    z-index: 1;
  }

  #logo{
    text-transform: uppercase;
    font-size: 20px;
    color: #555767;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    list-style: none;
    align-items: center;
    position: absolute;
    left: 40px;
}

  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: #555767;
    text-decoration: none;
    font-size: 16px;
  }
  
  .landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landing h1 {
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
  }

  nav a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #FFDEDE 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: #222;
    font-size: 1.75em;
    line-height: 1.15em;
    text-decoration: none;
    transition: background-position 0.5s ease-out;
  }
nav a:hover {
    background-position: -99.99% 0;


}


/*Sections*/

.home {
  background-image: url('images/home-background.png');
  width: 100%;
  height: 135vh;
  background-size: cover;
  
}

.about {
  background-image: url('images/about-background.png');
  width: 100%;
  background-size: cover;
  height: 120vh;
}

.skills {
  background-image: url('images/skills-background.png');
  width: 100%;
  height: 90vh;
  background-size: cover;
}

.portfolio {
  background-image: url('images/portfolio-background.png');
  width: 100%;
  height: 160vh;
  background-size: cover;
  background-color: white;
}

.social-media {
  background: #E7E9FF;
  height: 30vh;
  width: 100%;
}

/*Header Container*/


.home-container{ 
    top: 40%;
    left: 5%;
    z-index: -0.9;
    float: center;
}

.home-container h2{
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    bottom: 20px;
    position: relative;
    color:#6C7593;
    font-weight: normal;
}

.wrap{
    color:#6C7593;

}

/*Button*/

.btn{
    position: relative;
    top: 50px;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  .btn a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .btn a span{
    position: relative;
    z-index: 2;
  }
  
  .btn a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-color: white;
    background: linear-gradient(#BDC2E8, #E6DEE9);
    transition: all .35s;
  }
  
  .btn a:hover{
    color: #fff;
    border-color: white;
  }
  
  .btn a:hover:after{
    width: 100%;
  }

 
.hero-image{
    margin: 0;
    left: 500px;
    top: 140px;
    position: absolute;
    z-index: -0.5;

}


.home-container{
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: -0.9;
}

.home-container h1{
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    font-weight: bold;
    min-width: 100%;
    position: relative;
    line-height: 50px;
    color: #555767;
    text-transform: uppercase;
    position: relative;

}

@media screen and (max-width: 1024px) {
.hero-image{
  position: relative;
  left: 220px;
  transition: all .40s;
  bottom: 200px;
}}

@media screen and (max-width: 900px) {

  h1{
    letter-spacing: 5px;
  }

    .home-container h1{
        width: 100%;
        font-size: 50px;
    }

    .home-container h2{
      font-size: 15px;
    }

    .hero-image{
      left: -370px;
      top: 160px;
      position: relative;
      z-index: -0.5;
      transition: all .40s;
   
   }

   .home{
     height: 100vh;
   }



    .home-wrapper{
        position: absolute;
        top: -220px;

    }

    .btn{
        display: none;
    }

    .line {
      width: 30px;
      height: 3px;
      background: #555767;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      left: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      background: linear-gradient(#BDC2E8, #E6DEE9);
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }

    .logo{
        display: none;
    }
  }

  @media screen and (max-width: 800px) {

    .hero-image{
      top: 150px;

    }
  }

  @media screen and (max-width: 600px) {

    .home{
      background-image: none;
    }

    .hero-image{
      top: 50px;
    }
  
  }

  
  @media screen and (max-width: 380px) {
    .hero-image{
      top: 30px;
    }

    .skills{
      display: none;
    }

  }


  @media screen and (max-width: 320px) {

    .home-container{
      position: relative;
      margin-top: 50%;
    }

    .home{
height: 50vh;
    }

    .hero-image{
      display: none;
    }
  
  }

/*About Container*/

.about-container p{
    font-size: 15px;
    color:#6C7593;
}

.about-container{
  width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .about-wrapper{
    font-size: 1.45rem;
    color:black;
    align-items: center;
    text-align: center;
    float: right;
    position: relative;
    width: 50%;
    margin-right: 100px;
    margin-top: 100px;
  }
  

.about-container h1{
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-family: Poppins;
    line-height: 50px;
    color: #555767;
    text-transform: uppercase;
    position: relative;
    text-align: center;

}

.banner{
position: relative;

}

.about-image{
    position: relative;
    top: 80px;
  left: 80px;
}

@media screen and (max-width: 900px) {

.about-container h1{
  font-size: 40px;
}
}

@media screen and (max-width: 800px) {

    .about-image{
        right: 10px;
        top: 80px;
 
    }
    .about-container p{
      font-size: 13px;
      color:#6C7593;
  }

  .about{
    height: 100vh;
  }

}

@media screen and (max-width: 380px) {

  .about{
    height: 120vh;
  }

  .about-image{
    display: none;
  }

}

@media screen and (max-width: 320px) {

  .about{
    height: 120vh;
  }

}

/*Skills Container*/

.skills-container{
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  float: center;
  align-items: center;
  }


    .skills-wrapper{
      font-size: 1.45rem;
      align-items: center;
      text-align: center;
      position: relative;
      float: center;
      width: 80%;
      margin: auto;
      padding-top: 50px;

    }

    table{
      align-items: center;
      float: center;
      margin: 0 auto;
      width: 100%;
    }

    td, tr{
      padding: 10px;
    }

    .skills-container p{
        text-align: center;
        align-items: center;
        display: inline;
        font-size: 15px;
        position: relative;
        color: #6C7593;
    }
    
    .skills-container h1{
      font-size: 4vw;
      font-family: 'Poppins', sans-serif;
      position: relative;
      font-family: Poppins;
      line-height: 50px;
      color: #555767;
      text-transform: uppercase;
      position: relative;
      text-align: center;
    }

    .skills-container h2{
        font-weight: 100;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        min-width: 100%;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        color: #6C7593;
        position: relative;
        text-align: center;
        margin: 0;
    }


    /* Grow Icons */
    .grow { 
        transition: all .2s ease-in-out; 
    }
    .grow:hover { 
        transform: scale(1.1); 
    }

            
    @media screen and (max-width: 700px) {

      .skills-container{
        padding-top: 100px;
        width: 100%;
        }
      

      .skills-container p{
          display: none;
    
      }

      .skills-container h2{
        font-size: 15px;
      }

      .skills-container h1{
        font-size: 40px;
      }
      

      .grow{
        width: 50px;
        height: 50px;
      }
    }    



    

                
    @media screen and (max-width: 450px) {
    

      td, tr{
        padding: 0px;
      }

      .skills-container h2{
        font-size: 10px;
      }

    }

    @media screen and (max-width: 280px) {

      .skills{
        display: none;
      }
    }

      @media screen and (max-width: 450px) {

        .about-image{
          display: none;
        }

       
  
    }
    
/*Portfolio Container*/

  
.portfolio-container{
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  float: center;
  }


    .portfolio-wrapper{
      font-size: 1.45rem;
      align-items: center;
      text-align: center;
      position: relative;
      float: center;
      width: 70%;
      margin: auto;
      top: 50%;

    }
    
    .portfolio-container p{
        width: 50%;
        text-align: center;
        align-items: right;
        float: right;
        display: inline;
        font-size: 15px;
        top: 20px;
        position: relative;
        left: 50px;
    }
    
    .portfolio-container h1{
        font-size: 4vw;
        font-weight: 900;
        font-family: 'Poppins', sans-serif;
        min-width: 100%;
        font-family: Poppins;
        font-style: bold;
        line-height: 50px;
        color: #555767;
        text-transform: uppercase;
        position: relative;
        text-align: center;
    
    }
    
    .banner2{
    position: relative;
    }


/*Portfolio*/

.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#FFDEDE;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow:hidden;
  color: #555767;
  font-family:'Poppins';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight: 50;
  font-weight: normal;
  margin: 0;
  font-size: 40px;
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  color: #555767;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
  transition: transform 0.4s ease-out, opacity 0.5s ease;
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
    visibility: visible;
  }

  .overlay h2{
    opacity:0
  }
  .overlay h2:hover{
    opacity:1;
  }

  .overlay h1{
    opacity:0
  }
  .overlay h1:hover{
    opacity:1;
  }

  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .hovereffect h2 {
    text-transform: uppercase;
    color: #555767;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    color: #555767;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #555767;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

.wraps{
    float: center;
}

@media screen and (max-width: 1200px) {

  .tile{
    width: 250px;
    height: 250px;
  }

  .tile h1{
    font-size: 23px;
}

.tile h2{
  display: none;
}
}

@media screen and (max-width: 900px) {

  .tile{
    width:249px;
    height:249px;
    transition: height 0.2s ease-out;
    transition: all .40s;
  }

  .portfolio-container h1{
    font-size: 40px;
  }

  .tile h1{
    font-size: 13px;
}

.portfolio{
  height: 170vh;
}

}

@media screen and (max-width: 600px) {

.portfolio{
  height: 170vh;
}

.tile{
  width: 230px;
  height: 230px;
}

}

@media screen and (max-width: 450px) {

  .tile{
    width: 200px;
    height: 200px;
  }
  .tile h1{
      font-size: 12px;
  }

  .portfolio{
    height: 160vh;
  }

}

@media screen and (max-width: 380px) {


  .portfolio{
    height: 170vh;
  }

}





/*Social Media*/

.social-icons{
  top: 100px;
  position: relative;
}

.social-media ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-media ul li {
  list-style: none;
}

.social-media ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.social-media ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.social-media ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-media ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social-media ul li a:hover:before {
  top: 0;
}

.social-media ul li:nth-child(1) a:before{
  background: #3b5999;
}

.social-media ul li:nth-child(2) a:before{
  background: #24292e;
}

.social-media ul li:nth-child(3) a:before {
  background: #0077b5;
}

.social-media ul li:nth-child(4) a:before {
  background: #053eff;
}



  @media screen and (max-width: 400px) {

    .social-media ul li a {
      width: 60px;
      height: 60px;

  }
  

  
    
  @media screen and (max-width: 360px) {
    .tile{
      width: 140px;
      height: 140px;
    }

    .tile h1{
      display: none;
    }

  }}
